* {
    padding: 0;
    margin: 0;
  }
  
  .nav-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 40px 40px;
    justify-items: center;
    align-items: center;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8, 100px);
    justify-items: center;
    align-items: center;
    width: 900px;
    height: 800px;
    margin: 0 auto;
  }
  
  .gallery img {
    width: 100%;
    border: 1px solid black;
  }
  
  #img-1 { /* 300x400 */
    grid-column: 1 / 2; /* Posicionar início coluna 1 até final coluna 2 */
    grid-row: 1 / 5; /* Posicionar início linha 1 até final linha 5 */
  }
  
  #img-2 { /* 300x200 */
    grid-column: 3 / 4; /* Posicionar início coluna 3 até final coluna 4 */
    grid-row: 1 / 3; /* Posicionar início linha 1 até final linha 3 */
  }
  
  #img-3 { /* 300x600*/
    grid-column: 3 / 4; /* Posicionar início coluna 3 até final coluna 4 */
    grid-row: 3 / 9; /* Posicionar início linha 3 até final linha 9 */
  }
  
  #img-4 { /* 300x400 */
    grid-column: 1 / 2; /* Posicionar início coluna 1 até final coluna 2 */
    grid-row: 5 / 9; /* Posicionar início linha 5 até final linha 9 */
  }
  
  #img-5 { /* 300x300 */
    grid-column: 2 / 3; /* Posicionar início coluna 2 até final coluna 3 */
    grid-row: 1 / 4 /* Posicionar início linha 1 até final linha 4 */
  }
  
  #img-6 { /* 300x200 */
    grid-column: 2 / 3; /* Posicionar início coluna 2 até final coluna 3 */
    grid-row: 7 / 9; /* Posicionar início linha 7 até final linha 9 */
  }
  
  #img-7 { /* 300x300 */
    grid-column: 2 / 3; /* Posicionar início coluna 2 até final coluna 3 */
    grid-row: 4 / 7; /* Posicionar início linha 4 até final linha 7 */
  }